# Copie este arquivo para ".env" e troque os valores.
# O arquivo ".env" NÃO deve ir para o Git.
AUTH_DB_PASSWORD=troque-esta-senha
PRODUTOS_DB_PASSWORD=troque-esta-senha-tambem
JWT_SECRET=troque-este-segredo-grande
